
@font-face {
  font-family: BacasimeAntique;
  src: url(/public/fonts/BacasimeAntique-Regular.ttf);
}



.App {
  text-align: left;
  background-color: #282c34;
}

.App-header {
  background-color: #282c34;
  min-height: 50vh;
  display: grid;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

section {
  display: grid;
  margin-top: 4rem;
  text-align: center;
  background-color: #2d2d36;
  font-family: BacasimeAntique;
  
  row-gap: 20px;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}


.empty_section{
  display: block;
}


.divTrial{
  display: grid;
  text-align: left;
  background-color: #0b0a70;
}



.mainParagraphs {
  grid-row: 2;
  grid-column: 1;
 

  text-align: center;
  padding: 50px 50px;
}

.mainHeader {
  grid-row: 1;
  grid-column: 1;
  text-align: center;
  
}


form {
  padding: 2rem;
  display: grid;
  align-items: end;
  align-content: center;
  gap: 0.7rem;
}


.form_label {
  text-align: center;
  
}

.form_label_message{
  grid-column: 2;
}

.form-btn {
  background-color: #f6f6fa;
  color:black;
  padding: 1.3rem;
  font-family: inherit;
  border: none;
  margin-top: 1.3rem;
  font-size: 0.9em;
  
}

.App-link {
  color: #61dafb;
}

.card_project_block {
  padding: 10;
}
.card-img {
  max-width: 266.85px;
  max-height: 141.35px;
  
}

.card-subtitle {
  font-size: 0.9rem;
}

.logo{
  max-width: 30px;
  max-height: 30px;
  padding-right: 5px;
  
}

.logo:hover{
  opacity: 0.8;
}
a {
  cursor: pointer;
}


.Container-Project{
  display: flex;
  justify-content: center;
  align-items: center; 
  text-align: center;
  
}


/***************Project Card*******************/

.project-card{
  margin: 5px;
  
  align-items: center;
  
}

.card-row{
  justify-content: center;
  margin: 20px;
  
}

.card-column{
  margin: 5px;
}

/***************NavBar*******************/
.navbar{
  display: flex;
  justify-content: center;
}

.navbar-brand{
  display: flex;
  align-items: center;
}

.brand-text{
  margin-left: 8px;
}
